doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top
        // Header
        header.bg-primary.bg-gradient.text-white
            .container.px-4.text-center
                h1.fw-bolder Welcome to Show Decider
                p.lead Type in what show you're watching, and we will pick an episode for you to watch!

        // Contact section
        section#github.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 You have missed your landing!
                        p.lead
                            a(href='//www.idkyoupick.com') Click here to go back to our main page

        // Footer
        footer.py-5.bg-dark
            .container.px-4
                p.m-0.text-center.text-white Copyright &copy; showDecider 2022

        // Bootstrap core JS
