doctype html
// Font Awesome
link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css",
  rel="stylesheet")
  

// Google Fonts
link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap",
  rel="stylesheet")
  
// MDB
link(href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css", rel="stylesheet")

html(lang='en')

    head
        script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2357070825995343" crossorigin="anonymous")

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Show Decider
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js")

        script(type = "text/javascript", src="../js/autoComplete.js")

    body#page-top.body
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            .container.px-4
                a.navbar-brand(href='#page-top') We decide, so you can watch
                button.navbar-toggler(type='button' data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#service') Service
                        li.nav-item
                            a.nav-link(href='#github') Github
                        li.nav-item
                            a.nav-link(href='#newRESTAPI') New REST API

        // Header
        header.bg-primary.bg-gradient.text-white.section.container
            .container.px-4.text-center
                h1.fw-bolder Welcome to Show Decider
                p.lead Type in what show you're watching, and we will pick an episode for you to watch!
                a.btn.btn-lg.btn-light(href='#service') Enter Show!


        // Service section
        section#service.bg-light.section.container
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        .input-group
                            input(type="text" class="form-control rounded" placeholder="Enter Show" id="searchInput" onkeyup='apiCall()')
                            button(type="button" class="btn btn-outline-primary" id="pickEpisodeButton") Pick Episode
                        #inputResultDiv.row.px-4.justify-content-center
            
            

        // Most Popular section
        section#popular.bg-light.section.container
            .container.px-4
                h2 Most Popular Shows
            .container.px-4(id="displayMostPopularTable")


        // About section
        section#about.section.container.bg-white
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 About
                        p.lead
                            | My wife and I like to watch something while we eat dinner together. 
                            | One night I was wanting to watch an episode of Rick and Morty but was having a hard time selecting an episode. 
                            | I wanted a way to easily pick a random episode for us to watch. 
                            | That is how I came up with the idea for showDecider.
                            | I wanted to also create a static website hosted in S3, so I choose to have the application be a website. 


        // Contact section
        section#github.bg-light.section.container
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Github
                        p.lead
                            a(href='//github.com/m-kinnanderRepos' target="_blank") Take a look at the code and other projects of mine

        
        // New REST API
        section#newRESTAPI.section.container.bg-white
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 New REST API
                        p.lead
                            a(href='//www.episodate.com/api' target="_blank") Episodate is the new REST API showDecider calls!

        //Scripts
        script(type="module").
            import {displayMostPopular} from '../js/scripts.js'
            
            displayMostPopular()

        // Footer
        footer.py-5.bg-dark
            .container.px-4
                p.m-0.text-center.text-white Copyright &copy; showDecider 2022

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(type="module" src='js/scripts.js')