// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 3.5rem;
}

body {
    background-color: white;
}

// Header padding accounts for the height of the navbar
header {
    padding-top: 6rem + 3.5rem;
    padding-bottom: 6rem;
}

// Section padding
section {
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.image {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.section.container {
    width: 1170px;
    padding-right: 2em;
    position: relative;
}

.grid {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.list-item {
    padding: 0;
    height: 330px;
    width: 18%;
    box-shadow: 0 5px 10px #0d6efd;
    margin: 2% 1%;
}

.list-item .name {
    width: 100%;
    padding: 0.5em;
    font-size: 14px;
    text-align: center;
    color: black;
}


.autoComplete {
    font-size: 12px;
    width: 1170px;
}

.autocompleteResult{
    cursor: pointer;
}

.autoCompleteText {
    font-size: small;
    cursor: pointer;
}